<?xml version='1.0' encoding='utf-8'?>
<plugin id="android-manifest" version="1.0.0" 
  xmlns="http://apache.org/cordova/ns/plugins/1.0" 
  xmlns:android="http://schemas.android.com/apk/res/android">

  <name>Android Manifest</name>
  <license>MIT</license>

  <platform name="android">
	
	<config-file target="AndroidManifest.xml" parent="/manifest/application" mode="merge">
	  <meta-data android:name="com.google.android.actions" android:resource="@xml/actions" />
    </config-file>
	
  </platform>
</plugin>
